@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import "import/bootstrap.min";
@import "import/bootstrap-theme.min";
@import "import/slicknav";
@import "import/slick";
@import "import/slick-theme";
@import "import/header";
@import "import/footer";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Nunito', sans-serif;
}

a{
  font-family: 'Nunito', sans-serif;
  color:#333333;
  font-size:170%;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #3c763d;
  }
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0px;
}

main{
  text-align: center;
  width: 1200px;
  margin: auto;
}

//Carousel

.home-carousel{
  div{
    img{
      width:1200px;
      height: 700px;
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
  main{
    width: 900px;
    margin: auto;
  }
  .home-carousel {
    div {
      img {
        width: 900px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 899px) {
  main{
    width: 400px;
    margin: auto;
  }
  .home-carousel {
    div {
      img {
        width: 400px;
        height: 200px;
      }
    }
  }
}



//Menu Mobile

.slicknav_menu {
  display:none;
}

.js #menu {
  display:none;
}

@media screen and (max-width: 899px) {


  .js .slicknav_menu {
    display:block;
  }
}





